.serv{
    width:100%;
    height:auto;
    text-align: center;
}

.cont-serv{
    width: 100%;
    display: flex;
   justify-content: space-evenly;    
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
}
.con-items{
    display: flex;
    align-self: center;
    gap: 1rem;
    justify-content: center;
}
.ico-serv{
    display: flex;
    justify-content: center;
}
.ico-serv:hover{
    transform: scale(1.1);
}
.item-serv{
width:  25%;   
}

.shadow-pop-bl {
	animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-bl {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      transform: translateX(8px) translateY(-8px);
    }
  }

/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
    background: #7ab68d; /* color de fondo */
    color: white; /* color de fuente */
    border: 2px solid black; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius:20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    }
    .ov-btn-slide-top:hover {
    color: #fff; /* color de fuente hover */
    }
    .ov-btn-slide-top::after {
    content: "";
    background: #f9c939; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }
    .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }


  
  @media  (min-width: 768px) and (max-width:1024px){
    .con-items{
        flex-direction: column;
        align-items: center;

    }
    .cont-serv{

    }
    .item-serv{
        width: 40%;
    }
    }

    @media (min-width: 300px) and (max-width:767px){
    .item-serv{
        width: 55%;
    }
    .serv{
        margin-top: 2rem;
    }
    .con-items{
        flex-direction: column;
        align-items: center;

    }
}